@font-face {
    font-family: 'DMSerif';
    src: url('../fonts/DMSerifText-Italic.ttf');
    font-weight: 900;
}

body {
    font-family: DMSerif, Helvetica, sans-serif;
    font-size: 14px;
    background: url('../media/bg.jpg');
    background-position: 0 -25px;
    background-color: #f3f3f3;
}

a {
    text-decoration: none;
    color: #000;
    font-size: 1.2em;
}

p {
    font-size: 1.2em;
    line-height: 1.6em;
}

header {
    max-width: 100%;
    padding: 20px;
    height: 60px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    line-height: 35px;
    float: left;
    font-family: 'DMSerif';
}

.logo-circle {
    background: #eea302;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    float: left;
    margin-right: 15px;
}

nav {
    float: right;
}

nav li {
    display: inline;
}

nav a {
    padding: 0 15px;
    border-right: 1px solid #000;
}

nav a:hover {
    color: #eea302;
}

nav li:last-child a {
    border: none;   
}

main {
    display: grid;
    grid-template-columns: 47vw 47vw;
    margin-top: 200px;
    column-gap: 3vw;
}

.img-container {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    border: 2px solid #000;
    background-color: #DFDFDF;
    overflow: hidden;
    text-align: center;
    float: right;
}

.img-container img {
    width: 390px;
}

.section-right h1 {
    font-size: 6em;
    margin-bottom: 10px;
}

.section-right-content {
    width: 450px;
}

.circle-links a {
    width: 120px;
    height: 120px;
    display: block;
    background-color: lightblue;
    border-radius: 50%;
    border: 1px solid #000;
    text-align: center;
    line-height: 120px;
    font-weight: bold;
    float: left; 
    margin-right: 15px;
    transition: 500ms;
}

.circle-links a.resume {
    background-color: pink;
}

.circle-links a.contact {
    background-color: rgb(235, 200, 255);
}

.circle-links a:hover {
    background-color: #f3f3f3;
}

footer {
    width: 92vw;
    margin: auto;
    margin-top: 200px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    border-top: 1px solid #ddd;
    padding-top: 50px;
    padding-bottom: 50px;
}

footer p {
    margin: 0;
    margin-top: 6px;
}

footer a:hover {
    color: rgb(235, 200, 255);
}